node-red/flows.json
[{"id":"7d91c878.19309","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"63d8e6e.c76fa18","type":"tab","label":"House Lighting","disabled":false,"info":""},{"id":"22c06325.2fa04c","type":"tab","label":"Media","disabled":false,"info":""},{"id":"97ca37d8.605b98","type":"tab","label":"Heating","disabled":true,"info":""},{"id":"77c3aab7.cb3a74","type":"subflow","name":"Dark out?","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"b2668743ce6f00ba"}]}],"out":[{"x":470,"y":40,"wires":[{"id":"9a052309a7c9550f","port":0}]},{"x":470,"y":120,"wires":[{"id":"9a052309a7c9550f","port":1}]}],"env":[],"meta":{},"color":"#C0C0C0","outputLabels":["Dark","Light"],"icon":"font-awesome/fa-moon-o"},{"id":"cf7a0b8.3976cf8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"b2668743ce6f00ba","type":"eztimer","z":"77c3aab7.cb3a74","name":"","debug":false,"autoname":"sunset - sunrise","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"43.461448","lon":"-80.514057","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"","onrandomoffset":false,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunrise","offtimetod":"dusk","offduration":"00:01:30","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":"","offrandomoffset":false,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":240,"y":80,"wires":[["9a052309a7c9550f"]]},{"id":"9a052309a7c9550f","type":"switch","z":"77c3aab7.cb3a74","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":355,"y":80,"wires":[[],[]],"l":false},{"id":"83c4563f.6952e8","type":"comment","z":"7d91c878.19309","name":"Advanced Individual Home Status","info":"","x":150,"y":40,"wires":[]},{"id":"d6ede0de.0a1e1","type":"server-state-changed","z":"7d91c878.19309","name":"Home Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"9692edfb.2f8658","type":"server-state-changed","z":"7d91c878.19309","name":"Jesse Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.jesse_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":530,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"55daaa82.aa299c","type":"server-state-changed","z":"7d91c878.19309","name":"Andrew Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.andrew_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":700,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"ce09e65.8f84418","type":"switch","z":"7d91c878.19309","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":560,"wires":[["4d8f933f.aa124c","6a5f8f00.23807","8bd1d643.a115e8"],["ead2621a.497e1","712d8721.d63168"]]},{"id":"4d8f933f.aa124c","type":"api-current-state","z":"7d91c878.19309","name":"Status?","server":"cf7a0b8.3976cf8","version":3,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":520,"wires":[["241457b2.2cc128"],["c1544077.8f84a"]]},{"id":"e76d582a.9a8f88","type":"api-call-service","z":"7d91c878.19309","name":"Just Left","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":520,"y":640,"wires":[["6a5f8f00.23807","a5b8c72d97fab2db"]]},{"id":"241457b2.2cc128","type":"api-call-service","z":"7d91c878.19309","name":"Just Arrived","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":510,"y":480,"wires":[["712d8721.d63168","84d158401fc32409"]]},{"id":"d5810a67.0f3498","type":"api-call-service","z":"7d91c878.19309","name":"Away","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":810,"y":620,"wires":[["8bd1d643.a115e8","ad711831e1d12863"]]},{"id":"c0187e63.5a9e1","type":"api-call-service","z":"7d91c878.19309","name":"Extended Away","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1100,"y":600,"wires":[["8b33e07816618e52"]]},{"id":"6a5f8f00.23807","type":"trigger","z":"7d91c878.19309","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"home","bytopic":"topic","topic":"topic","outputs":1,"x":670,"y":620,"wires":[["d5810a67.0f3498"]]},{"id":"8bd1d643.a115e8","type":"trigger","z":"7d91c878.19309","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":950,"y":600,"wires":[["c0187e63.5a9e1"]]},{"id":"712d8721.d63168","type":"trigger","z":"7d91c878.19309","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"not_home","bytopic":"topic","topic":"topic","outputs":1,"x":670,"y":500,"wires":[["c1544077.8f84a"]]},{"id":"c1544077.8f84a","type":"api-call-service","z":"7d91c878.19309","name":"Home","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":810,"y":520,"wires":[["1a086c902eabdaf8"]]},{"id":"4f5a58f6.75a848","type":"trigger-state","z":"7d91c878.19309","name":"Person","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":false,"x":190,"y":220,"wires":[["af79d26f.7b667"],[]]},{"id":"ead2621a.497e1","type":"api-current-state","z":"7d91c878.19309","name":"Status?","server":"cf7a0b8.3976cf8","version":3,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":600,"wires":[["e76d582a.9a8f88"],[]]},{"id":"af79d26f.7b667","type":"change","z":"7d91c878.19309","name":"Set Topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["711285fecf909896","ecbc02b8bc286f84"]]},{"id":"4b97a8c9.4c2298","type":"rbe","z":"7d91c878.19309","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":710,"y":220,"wires":[["a8f41d55e1979675"]]},{"id":"84d158401fc32409","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":440,"wires":[]},{"id":"a5b8c72d97fab2db","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":680,"wires":[]},{"id":"1a086c902eabdaf8","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"ad711831e1d12863","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"8b33e07816618e52","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":640,"wires":[]},{"id":"caee207caa318ac3","type":"inject","z":"7d91c878.19309","name":"Jesse Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.jesse","payload":"home","payloadType":"str","x":170,"y":260,"wires":[["af79d26f.7b667"]]},{"id":"fac0c0cac50e65fe","type":"inject","z":"7d91c878.19309","name":"Jesse Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.jesse","payload":"not_home","payloadType":"str","x":170,"y":300,"wires":[["af79d26f.7b667"]]},{"id":"73863a8f8eb71b21","type":"inject","z":"7d91c878.19309","name":"Andrew Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.andrew","payload":"home","payloadType":"str","x":170,"y":340,"wires":[["af79d26f.7b667"]]},{"id":"d6da82ccc18035f5","type":"inject","z":"7d91c878.19309","name":"Andrew Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.andrew","payload":"not_home","payloadType":"str","x":170,"y":380,"wires":[["af79d26f.7b667"]]},{"id":"711285fecf909896","type":"template","z":"7d91c878.19309","name":"Set previous state","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}}_status_dropdown","output":"str","x":530,"y":220,"wires":[["4b97a8c9.4c2298","27d834bcde3b5ed7"]]},{"id":"ecbc02b8bc286f84","type":"debug","z":"7d91c878.19309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":260,"wires":[]},{"id":"27d834bcde3b5ed7","type":"debug","z":"7d91c878.19309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"199e95cace4ff218","type":"comment","z":"7d91c878.19309","name":"Setup state","info":"","x":330,"y":120,"wires":[]},{"id":"28c2a6f4f948e919","type":"comment","z":"7d91c878.19309","name":"State machine","info":"","x":350,"y":440,"wires":[]},{"id":"a8f41d55e1979675","type":"switch","z":"7d91c878.19309","name":"Vacation?","property":"vacationStatus","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":220,"wires":[[],["ce09e65.8f84418"]]},{"id":"3beda23a4fc7eb79","type":"server-state-changed","z":"7d91c878.19309","name":"Vacation Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.vacation","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":880,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"9b7d78d34e592524","type":"change","z":"7d91c878.19309","name":"Track VacationStatus","rules":[{"t":"set","p":"vacationStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[[]]},{"id":"7e22c60be5e0f421","type":"server-state-changed","z":"7d91c878.19309","name":"Vacation Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.vacation","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":180,"wires":[["9b7d78d34e592524"]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"4d989e69.492af","type":"switch","z":"63d8e6e.c76fa18","name":"Home/Gone","property":"homeStatus","propertyType":"flow","rules":[{"t":"regex","v":"Just Arrived|Some Home|Home","vt":"str","case":true},{"t":"regex","v":"Just Left|Away|Extended Away","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1720,"wires":[["1f9112ed.072495","5940608b76cff171"],["accdbf39.7c3eb8"]]},{"id":"f1d19710.472928","type":"delay","z":"63d8e6e.c76fa18","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"outputs":1,"x":750,"y":1040,"wires":[["69c708b6.1ba2f","3af05ccd.06de3c","3eb2cd0f.0b8122","a1212220dcf1da2e"]]},{"id":"be200dbd.cd9428","type":"inject","z":"63d8e6e.c76fa18","name":"00:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":620,"wires":[["577425a9.40485c"]]},{"id":"577425a9.40485c","type":"switch","z":"63d8e6e.c76fa18","name":"Away?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":620,"wires":[["6885988e.ac15b"]]},{"id":"7a376537.b7063c","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":580,"wires":[["7983e053.7933d8"]]},{"id":"f4e23175.281c4","type":"delay","z":"63d8e6e.c76fa18","name":"0-10 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"outputs":1,"x":750,"y":900,"wires":[["6f4ccfaf.26fde"]]},{"id":"6e138104.3e6d68","type":"comment","z":"63d8e6e.c76fa18","name":"Time Triggers","info":"","x":110,"y":200,"wires":[]},{"id":"c038d6cb.fe85","type":"comment","z":"63d8e6e.c76fa18","name":"Home Status Triggers","info":"","x":140,"y":720,"wires":[]},{"id":"d132892f.8f0ee","type":"comment","z":"63d8e6e.c76fa18","name":"Sun Triggers","info":"","x":110,"y":1360,"wires":[]},{"id":"accdbf39.7c3eb8","type":"delay","z":"63d8e6e.c76fa18","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1820,"wires":[["b38bd5cb.45d168","aea3ae26.f387f8","e236343affa286fa","039af6c2c2812a1e"]]},{"id":"6885988e.ac15b","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":620,"wires":[["ee2c458d.ec8dc"]]},{"id":"a40c9767.93a26","type":"change","z":"63d8e6e.c76fa18","name":"Track Home Status","rules":[{"t":"set","p":"homeStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[[]]},{"id":"18236819.e4c768","type":"comment","z":"63d8e6e.c76fa18","name":"Track Important States","info":"","x":140,"y":40,"wires":[]},{"id":"582a612d.b33b5","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Any Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Left, Some Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":240,"y":900,"wires":[["1c646277.50e136"],[]]},{"id":"7437e761.a83448","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":230,"y":760,"wires":[["eee46007.d7f35","9f126c48.246fc","d5747a0f.b7ed18"],[]]},{"id":"b293da0d.369cd8","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Away","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":250,"y":1060,"wires":[["260093be.a47de4","e286a9ef.89208","8ec772ab.5143a8","8ab02cb292a644e6","8ddd5a8baad0d908"],[]]},{"id":"3e37e65e.cc4a22","type":"server-state-changed","z":"63d8e6e.c76fa18","name":"Home Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":80,"wires":[["a40c9767.93a26"]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"1f9112ed.072495","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":740,"y":1760,"wires":[[]]},{"id":"b38bd5cb.45d168","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Primary On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_primary"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":990,"y":1900,"wires":[[]]},{"id":"eee46007.d7f35","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bar On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.butlers_pantry"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":800,"wires":[[]]},{"id":"71fd16a1.6c5ca8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.living_room_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":700,"y":720,"wires":[[]]},{"id":"ee2c458d.ec8dc","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodnight","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1514647809398"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":870,"y":620,"wires":[[]]},{"id":"7983e053.7933d8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodnight","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1514647809398"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":870,"y":580,"wires":[[]]},{"id":"260093be.a47de4","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.entrance"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":450,"y":1120,"wires":[[]]},{"id":"69c708b6.1ba2f","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Shelf On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_backlight_plug"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":960,"y":1020,"wires":[[]]},{"id":"3af05ccd.06de3c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Primary On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_primary"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":990,"y":1060,"wires":[[]]},{"id":"ab20f48d.531558","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.living_room_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":760,"y":1160,"wires":[[]]},{"id":"42f14df9.b9563c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Shelf Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_backlight_plug"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":760,"y":1120,"wires":[[]]},{"id":"e286a9ef.89208","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bar Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.butlers_pantry"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":1160,"wires":[[]]},{"id":"8ec772ab.5143a8","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","x":440,"y":1060,"wires":[["f1d19710.472928"],["42f14df9.b9563c","ab20f48d.531558","a1425de9.06955"]]},{"id":"1c646277.50e136","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","x":440,"y":900,"wires":[["f4e23175.281c4"],[]]},{"id":"9f126c48.246fc","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","env":[],"x":440,"y":760,"wires":[["71fd16a1.6c5ca8","299facfeaac58406"],["6ab207a0142cefcd"]]},{"id":"6f4ccfaf.26fde","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":960,"y":900,"wires":[[]]},{"id":"3eb2cd0f.0b8122","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":960,"y":980,"wires":[[]]},{"id":"a1425de9.06955","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":760,"y":1200,"wires":[[]]},{"id":"aea3ae26.f387f8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":960,"y":1820,"wires":[[]]},{"id":"4e3f90f4.68a2d8","type":"change","z":"63d8e6e.c76fa18","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1760,"wires":[["accdbf39.7c3eb8"]],"l":false},{"id":"3ba13b0a.e9fcfc","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":470,"y":1760,"wires":[["4e3f90f4.68a2d8"],[]]},{"id":"79ddbb05.405bdc","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Outdoor Lights On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.deck","light.front_porch","light.outdoor_fence_plug","light.outdoor_lights_plug","light.studio_outdoors"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":530,"y":1620,"wires":[[]]},{"id":"a81943e5.6dfcf","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Outdoor Lights Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.deck","light.front_porch","light.outdoor_fence_plug","light.outdoor_lights_plug","light.studio_outdoors"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":530,"y":1560,"wires":[[]]},{"id":"3586044c.242dac","type":"inject","z":"63d8e6e.c76fa18","name":"23:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":540,"wires":[["6cec9f75b26b1530","0079306cc65a4c8f"]]},{"id":"d5747a0f.b7ed18","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":460,"y":840,"wires":[[]]},{"id":"51cffefd.3d61b8","type":"trigger-state","z":"63d8e6e.c76fa18","name":"All Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":240,"y":960,"wires":[[],[]]},{"id":"525e3835.5a0908","type":"inject","z":"63d8e6e.c76fa18","name":"08:00 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["4e7cf2a9.fa6424"]]},{"id":"4e7cf2a9.fa6424","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":260,"wires":[["14385384.5d40dc"]]},{"id":"14385384.5d40dc","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":260,"wires":[["9a1c4751.f0ab1"]]},{"id":"9a1c4751.f0ab1","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodmorning","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.good_morning"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":880,"y":260,"wires":[[]]},{"id":"f4b9c72e.16a518","type":"inject","z":"63d8e6e.c76fa18","name":"09:00 (weekend)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":300,"wires":[["4e7cf2a9.fa6424"]]},{"id":"28c8631.77de91c","type":"inject","z":"63d8e6e.c76fa18","name":"17:30 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 17 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":460,"wires":[["ca240b835916cf0e"]]},{"id":"87cc9f5e.fe07e8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":460,"wires":[["8f346f4e.046ee"]]},{"id":"8f346f4e.046ee","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.spare_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":860,"y":460,"wires":[[]]},{"id":"e4ea7179.f40ca8","type":"inject","z":"63d8e6e.c76fa18","name":"22:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":500,"wires":[["d49f8fa566fa1017"]]},{"id":"ca1dc11b.2080c8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"allowrate":false,"outputs":1,"x":650,"y":500,"wires":[["4c3d846f.17503c"]]},{"id":"4c3d846f.17503c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bedtime","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1523806783160"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":860,"y":500,"wires":[[]]},{"id":"d57ce087.2728","type":"inject","z":"63d8e6e.c76fa18","name":"08:45 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":420,"wires":[["0833c0643276768f"]]},{"id":"d550789f.db20c","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":420,"wires":[["aa3455ae.6ef56"]]},{"id":"aa3455ae.6ef56","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.spare_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":860,"y":420,"wires":[[]]},{"id":"80663c3c.d554b8","type":"inject","z":"63d8e6e.c76fa18","name":"08:30 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["65ef7ba5.12c81c"]]},{"id":"65ef7ba5.12c81c","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":340,"wires":[["45d5c6a.ed5f1b8"]]},{"id":"45d5c6a.ed5f1b8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":650,"y":340,"wires":[["d2c5851e.bcd31"]]},{"id":"d2c5851e.bcd31","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Master Suite Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.master_suite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":880,"y":340,"wires":[[]]},{"id":"3329be7.5134642","type":"inject","z":"63d8e6e.c76fa18","name":"09:30 (weekend)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 09 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":380,"wires":[["65ef7ba5.12c81c"]]},{"id":"6cec9f75b26b1530","type":"delay","z":"63d8e6e.c76fa18","name":"0-5 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"5","randomUnits":"minutes","drop":false,"allowrate":false,"outputs":1,"x":650,"y":540,"wires":[["efcc9fd2e3ceb9f4"]]},{"id":"6577fbbb80af9280","type":"comment","z":"63d8e6e.c76fa18","name":"Motion Triggers","info":"","x":120,"y":1900,"wires":[]},{"id":"35ac46752e1909ea","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Front Door Open","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.front_door_open","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":220,"y":1980,"wires":[["7541609baee4e359"],[]]},{"id":"a8807054f16a1087","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.entrance"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":710,"y":1980,"wires":[[]]},{"id":"f9eae74eb1ff3127","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.entrance"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":710,"y":2020,"wires":[[]]},{"id":"29c439b6d35e5bad","type":"eztimer","z":"63d8e6e.c76fa18","name":"","debug":false,"autoname":" + 00:03:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"43.461448","lon":"-80.514057","timerType":"1","startupMessage":false,"ontype":"9","ontimesun":"dawn","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":"1","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":true,"offtype":"3","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:03:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":490,"y":2000,"wires":[["6f5719177b7bebf8"]]},{"id":"6f5719177b7bebf8","type":"switch","z":"63d8e6e.c76fa18","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":585,"y":2000,"wires":[["a8807054f16a1087"],["f9eae74eb1ff3127"]],"l":false},{"id":"f0fb8ac7a55c89d8","type":"inject","z":"63d8e6e.c76fa18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":1560,"wires":[["3442aa78084188b0"]]},{"id":"e236343affa286fa","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Shelf On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_backlight_plug"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":960,"y":1860,"wires":[[]]},{"id":"efcc9fd2e3ceb9f4","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Outdoor Lights Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.deck","light.front_porch","light.outdoor_fence_plug","light.outdoor_lights_plug","light.studio_outdoors"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":890,"y":540,"wires":[[]]},{"id":"0833c0643276768f","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":420,"wires":[["d550789f.db20c"]]},{"id":"ca240b835916cf0e","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":460,"wires":[["87cc9f5e.fe07e8"]]},{"id":"d49f8fa566fa1017","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":500,"wires":[["ca1dc11b.2080c8"]]},{"id":"0079306cc65a4c8f","type":"switch","z":"63d8e6e.c76fa18","name":"Vacation?","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":580,"wires":[["7a376537.b7063c"]]},{"id":"b293a5b663db216d","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Front Door Unlocked","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":2020,"wires":[["7541609baee4e359"],[]]},{"id":"7541609baee4e359","type":"change","z":"63d8e6e.c76fa18","name":"Start timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":2000,"wires":[["29c439b6d35e5bad"]],"l":false},{"id":"5940608b76cff171","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Pendants On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor_pendants"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":770,"y":1720,"wires":[[]]},{"id":"de7f3dc732273768","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Overheads Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.main_floor_overheads"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":560,"y":1660,"wires":[[]]},{"id":"83594f7079adb43c","type":"inject","z":"63d8e6e.c76fa18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":1600,"wires":[["3442aa78084188b0"]]},{"id":"3442aa78084188b0","type":"eztimer","z":"63d8e6e.c76fa18","name":"Sunrise/Sunset","debug":false,"autoname":"sunrise - sunset","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"43.461448","lon":"-80.514057","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"sunrise","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":false,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunset","offtimetod":"dusk","offduration":"00:01:30","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":"0","offrandomoffset":false,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":240,"y":1600,"wires":[["ed77f3ce3c3c0704"]],"icon":"node-red-node-suncalc/sun.png"},{"id":"ed77f3ce3c3c0704","type":"switch","z":"63d8e6e.c76fa18","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":345,"y":1600,"wires":[["a81943e5.6dfcf"],["79ddbb05.405bdc","4d989e69.492af","de7f3dc732273768"]],"l":false},{"id":"6ab207a0142cefcd","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Overheads On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor_overheads"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":740,"y":800,"wires":[[]]},{"id":"299facfeaac58406","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Pendants On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor_pendants"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":730,"y":760,"wires":[[]]},{"id":"8ab02cb292a644e6","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Overheads Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.main_floor_overheads"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":500,"y":1200,"wires":[[]]},{"id":"8ddd5a8baad0d908","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Pendants Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.main_floor_pendants"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":490,"y":1240,"wires":[[]]},{"id":"a80db408ec8204c7","type":"eztimer","z":"63d8e6e.c76fa18","name":"Golden Hour","debug":false,"autoname":"goldenHour","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"43.461448","lon":"-80.514057","timerType":"2","startupMessage":false,"ontype":"1","ontimesun":"goldenHour","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"","onrandomoffset":false,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunset","offtimetod":"dusk","offduration":"00:01:30","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":"0","offrandomoffset":false,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":250,"y":1460,"wires":[["0efd2ebee3a9c252"]],"icon":"node-red-node-suncalc/sun.png"},{"id":"0c03e8c2c9300419","type":"inject","z":"63d8e6e.c76fa18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":1460,"wires":[["a80db408ec8204c7"]]},{"id":"0efd2ebee3a9c252","type":"switch","z":"63d8e6e.c76fa18","name":"Home?","property":"homeStatus","propertyType":"flow","rules":[{"t":"regex","v":"Just Arrived|Some Home|Home","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1460,"wires":[["8e941cec91cc2472","b4cb4ef89c1a86d4"]]},{"id":"8e941cec91cc2472","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor Pendants On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor_pendants"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":650,"y":1460,"wires":[[]]},{"id":"b4cb4ef89c1a86d4","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Main Floor On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.main_floor"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":620,"y":1500,"wires":[[]]},{"id":"039af6c2c2812a1e","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Kitchen Underlight On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_underlight"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":980,"y":1940,"wires":[[]]},{"id":"a1212220dcf1da2e","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Kitchen Underlight On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_underlight"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":980,"y":1100,"wires":[[]]},{"id":"3860883a.88acd8","type":"debug","z":"22c06325.2fa04c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":60,"wires":[]},{"id":"361637fb.89ff18","type":"debug","z":"22c06325.2fa04c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":180,"wires":[]},{"id":"3c258c3d.2354b4","type":"trigger-state","z":"22c06325.2fa04c","name":"Leaving Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":120,"y":100,"wires":[["3860883a.88acd8","22a5c995.4bbe06"],[]]},{"id":"792203b.703a47c","type":"trigger-state","z":"22c06325.2fa04c","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":120,"y":220,"wires":[["361637fb.89ff18","905d19c4.ff9b9"],[]]},{"id":"22a5c995.4bbe06","type":"api-call-service","z":"22c06325.2fa04c","name":"Music: Pause","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":[],"entityId":["group.sonos_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":360,"y":100,"wires":[[]]},{"id":"905d19c4.ff9b9","type":"api-call-service","z":"22c06325.2fa04c","name":"Music: Resume","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play","areaId":[],"deviceId":[],"entityId":["group.sonos_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":360,"y":220,"wires":[[]]},{"id":"a2c62c6a.80ed08","type":"debug","z":"97ca37d8.605b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130,"y":40,"wires":[]},{"id":"d84719f5.72d78","type":"function","z":"97ca37d8.605b98","name":"Output normalizer","func":"function presetModeFrom(status) {\n    switch (status) {\n        case 'Just Arrived': return 'none';\n        case 'Some Home': return 'none';\n        case 'Home': return 'none';\n        case 'Away': return 'eco';\n        case 'Extended Away': return 'eco';\n    }\n}\n\nconst presetMode = presetModeFrom(msg.payload);\nif (!presetMode) return;\n\nreturn {\n    payload: {\n        data: { preset_mode: presetMode }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["ef65f1f8.40e2f","1be2403c.b63d08"]]},{"id":"ef65f1f8.40e2f","type":"debug","z":"97ca37d8.605b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","x":370,"y":40,"wires":[]},{"id":"1be2403c.b63d08","type":"api-call-service","z":"97ca37d8.605b98","name":"Update nests mode","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.living_room","climate.upstairs"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":650,"y":80,"wires":[[]]},{"id":"642e7f45.ea6198","type":"poll-state","z":"97ca37d8.605b98","name":"Home Status","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5400","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"sensor.home_status","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":80,"wires":[["a2c62c6a.80ed08","d84719f5.72d78"]]},{"id":"94251965.75c1a8","type":"inject","z":"97ca37d8.605b98","name":"Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor.home_status","payload":"Home","payloadType":"str","x":130,"y":140,"wires":[["d84719f5.72d78"]]},{"id":"fdff896d.4fb86","type":"inject","z":"97ca37d8.605b98","name":"Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor.home_status","payload":"Away","payloadType":"str","x":130,"y":180,"wires":[["d84719f5.72d78"]]}]