node-red/flows.json
[{"id":"9358c8fc.f91e28","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"542c0278.85dfbc","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"3c502aab.85840e","type":"tab","label":"House Lighting","disabled":false,"info":""},{"id":"3e096a3e.358aee","type":"tab","label":"Light Warmth","disabled":false,"info":""},{"id":"220f7366.35ebb4","type":"tab","label":"Media","disabled":false,"info":""},{"id":"e733e8b1.0de76","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6ac77f9b.e015b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca36a6a9.f4cdd","type":"poll-state","z":"542c0278.85dfbc","name":"Home Status","server":"e733e8b1.0de76","updateinterval":"5400","outputinitially":false,"outputonchanged":true,"entity_id":"sensor.home_status","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":80,"wires":[["77f19d34.709874","590f1235.047a9c"]]},{"id":"77f19d34.709874","type":"debug","z":"542c0278.85dfbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130,"y":40,"wires":[]},{"id":"590f1235.047a9c","type":"function","z":"542c0278.85dfbc","name":"Output normalizer","func":"function awayModeFrom(status) {\n    switch (status) {\n        case 'Just Arrived': return 'home';\n        case 'Some Home': return 'home';\n        case 'Home': return 'home';\n        case 'Away': return 'away';\n    }\n}\n\nconst awayMode = awayModeFrom(msg.payload);\nif (!awayMode) return;\n\nreturn {\n    payload: {\n        data: { away_mode: awayMode }\n    }\n};","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["8d6c8d70.204ac","f4a20a20.ed9dd"]]},{"id":"8d6c8d70.204ac","type":"debug","z":"542c0278.85dfbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","x":370,"y":40,"wires":[]},{"id":"f4a20a20.ed9dd","type":"api-call-service","z":"542c0278.85dfbc","name":"Update nest mode","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"nest","service":"set_away_mode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":80,"wires":[[]]},{"id":"bfdd6ef0.ac7fb8","type":"debug","z":"220f7366.35ebb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":60,"wires":[]},{"id":"b986cef3.d4619","type":"trigger-state","z":"220f7366.35ebb4","name":"Leaving Home","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wumzlm1pw0q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":120,"y":100,"wires":[["bfdd6ef0.ac7fb8","6eab8556.e3a114"],[]]},{"id":"6eab8556.e3a114","type":"api-call-service","z":"220f7366.35ebb4","name":"Music: Pause","server":"e733e8b1.0de76","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"group.sonos_devices\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":100,"wires":[[]]},{"id":"3d30dfa9.4d71c","type":"trigger-state","z":"220f7366.35ebb4","name":"Coming Home","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"r82ucr4r29","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"id":"ukropjujhfa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":220,"wires":[["a5714129.338f7","44297e57.3526d8"],[]]},{"id":"a5714129.338f7","type":"debug","z":"220f7366.35ebb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":180,"wires":[]},{"id":"44297e57.3526d8","type":"api-call-service","z":"220f7366.35ebb4","name":"Music: Resume","server":"e733e8b1.0de76","service_domain":"media_player","service":"media_play","data":"{\"entity_id\":\"group.sonos_devices\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":220,"wires":[[]]},{"id":"815d53ae.c5783","type":"trigger-state","z":"3c502aab.85840e","name":"Any Gone","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kvnqopoxa5a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Left, Away, Some Home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":240,"y":580,"wires":[["d0efcd8f.bf6378"],[]]},{"id":"16217da0.6c00e2","type":"trigger-state","z":"3c502aab.85840e","name":"Coming Home","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"r82ucr4r29","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"id":"ukropjujhfa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":460,"wires":[["84e83d33.4f1a08","61324e01.29e97"],[]]},{"id":"aa1624a7.b3e61","type":"api-call-service","z":"3c502aab.85840e","name":"Hutch On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.hutch_on\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1140,"wires":[[]]},{"id":"84e83d33.4f1a08","type":"time-range-switch","z":"3c502aab.85840e","name":"Dark out?","lat":"43.457818","lon":"-80.519625","startTime":"sunsetStart","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":440,"y":460,"wires":[["d9829e65.2a0f48"],[]]},{"id":"80d0b57c.cdeab8","type":"api-call-service","z":"3c502aab.85840e","name":"Living Room On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.living_room_devices\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":1180,"wires":[[]]},{"id":"6541e458.78618c","type":"server-state-changed","z":"3c502aab.85840e","name":"Home Status","server":"e733e8b1.0de76","entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":230,"y":100,"wires":[["24743293.bd9e1e"]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"24743293.bd9e1e","type":"change","z":"3c502aab.85840e","name":"Track Home Status","rules":[{"t":"set","p":"homeStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[[]]},{"id":"cb2878f0.76496","type":"switch","z":"3c502aab.85840e","name":"Home, Gone, Any Gone","property":"homeStatus","propertyType":"flow","rules":[{"t":"regex","v":"Just Arrived|Some Home|Home","vt":"str","case":true},{"t":"regex","v":"Just Left|Away|Extended Away","vt":"str","case":true},{"t":"regex","v":"Some Home|Just Left|Away","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":1280,"wires":[["aa1624a7.b3e61","80d0b57c.cdeab8","de43002c.92a098"],["e7eae3b1.94c038"],["3931eb00.d5ab04"]]},{"id":"7ecad175.7e0488","type":"api-call-service","z":"3c502aab.85840e","name":"Living Room Primary On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.living_room_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":1260,"wires":[[]]},{"id":"3b35f816.b2d2e8","type":"api-call-service","z":"3c502aab.85840e","name":"Office Primary On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.office_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":1300,"wires":[[]]},{"id":"f9aa1d4a.9df0f","type":"api-call-service","z":"3c502aab.85840e","name":"Front Door On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":980,"y":1360,"wires":[[]]},{"id":"d1abe1bd.d4249","type":"inject","z":"3c502aab.85840e","name":"","topic":"","payload":"homeStatus","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1320,"wires":[["cb2878f0.76496"]]},{"id":"d2b60933.b882b","type":"sun events","z":"3c502aab.85840e","testmode":false,"verbose":true,"topic":"","name":"","x":100,"y":1280,"wires":[["23981cc0.354ed4"]]},{"id":"23981cc0.354ed4","type":"switch","z":"3c502aab.85840e","name":"Sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1280,"wires":[["cb2878f0.76496"]]},{"id":"7b70621f.e5013c","type":"trigger-state","z":"3c502aab.85840e","name":"Just Arrived","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ferg68nytr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":230,"y":940,"wires":[["f724cd55.0ffdd8"],[]]},{"id":"f724cd55.0ffdd8","type":"api-call-service","z":"3c502aab.85840e","name":"Entrance On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.indoor_entrance_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":940,"wires":[[]]},{"id":"6bf1700b.8ae8c8","type":"trigger-state","z":"3c502aab.85840e","name":"Just \"Just Arrived\"","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"xb2p2nqtecp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":900,"wires":[["d0dd6381.fdf5a"],[]]},{"id":"d0dd6381.fdf5a","type":"api-call-service","z":"3c502aab.85840e","name":"Entrance Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.indoor_entrance_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":900,"wires":[[]]},{"id":"5ef15e82.b5966","type":"trigger-state","z":"3c502aab.85840e","name":"Away","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wumzlm1pw0q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":250,"y":740,"wires":[["26423764.600dd8","23eb670.4b1219a"],[]]},{"id":"d0efcd8f.bf6378","type":"time-range-switch","z":"3c502aab.85840e","name":"Dark out?","lat":"43.457818","lon":"-80.519625","startTime":"sunsetStart","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":440,"y":580,"wires":[["e5e26878.367ec"],[]]},{"id":"af7ccc8f.780a38","type":"trigger-state","z":"3c502aab.85840e","name":"All Home","server":"e733e8b1.0de76","entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"b4kimiq4z6i","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":240,"y":640,"wires":[["19deb223.915f86"],[]]},{"id":"19deb223.915f86","type":"api-call-service","z":"3c502aab.85840e","name":"Front Door Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":640,"wires":[[]]},{"id":"3399f19a.501e56","type":"inject","z":"3c502aab.85840e","name":"02:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["763463c1.eed544"]]},{"id":"26423764.600dd8","type":"time-range-switch","z":"3c502aab.85840e","name":"Dark out?","lat":"43.457818","lon":"-80.519625","startTime":"sunsetStart","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":440,"y":740,"wires":[["a018b20f.f08808"],["4b89466f.5be2c8","59fbea38.d15734"]]},{"id":"a018b20f.f08808","type":"delay","z":"3c502aab.85840e","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"x":690,"y":720,"wires":[["59429ff2.b93568","8ca893ee.d14fc8"]]},{"id":"a844f09.216dc1","type":"comment","z":"3c502aab.85840e","name":"Track Home Status","info":"","x":130,"y":60,"wires":[]},{"id":"61324e01.29e97","type":"api-call-service","z":"3c502aab.85840e","name":"Hutch On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.hutch_on\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":520,"wires":[[]]},{"id":"d9829e65.2a0f48","type":"api-call-service","z":"3c502aab.85840e","name":"Living Room On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.living_room_devices\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":460,"wires":[[]]},{"id":"763463c1.eed544","type":"api-call-service","z":"3c502aab.85840e","name":"Front Door Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":320,"wires":[[]]},{"id":"c58080d4.e0b89","type":"inject","z":"3c502aab.85840e","name":"00:30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["6b771dd1.e212b4"]]},{"id":"6b771dd1.e212b4","type":"switch","z":"3c502aab.85840e","name":"Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["24569342.b3b0e4"]]},{"id":"5f9fc7a6.37544","type":"api-call-service","z":"3c502aab.85840e","name":"Goodnight","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.1514647809398\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":280,"wires":[[]]},{"id":"cc24958b.68d728","type":"server-state-changed","z":"9358c8fc.f91e28","name":"Jesse","server":"e733e8b1.0de76","version":1,"entityidfilter":"sensor.jesse","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":190,"y":140,"wires":[["82c0b842.613d08"]]},{"id":"82c0b842.613d08","type":"change","z":"9358c8fc.f91e28","name":"Set Topic","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"sensor.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["8c660f0e.6a5158"]]},{"id":"ec11f65e.eed868","type":"switch","z":"9358c8fc.f91e28","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":560,"wires":[["3d6ca0b3.b57a68","123e38ef.31e407"],["35a2f06b.6932d","9bd5b3b2.3ca74"]]},{"id":"8b7777df.fe04a8","type":"api-current-state","z":"9358c8fc.f91e28","name":"Fetch","server":"e733e8b1.0de76","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":180,"wires":[["ec11f65e.eed868","2d29a76e.b9a228"]]},{"id":"8c660f0e.6a5158","type":"template","z":"9358c8fc.f91e28","name":"Set previous state","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}_status_dropdown","output":"str","x":810,"y":180,"wires":[["8b7777df.fe04a8"]]},{"id":"2d29a76e.b9a228","type":"debug","z":"9358c8fc.f91e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":140,"wires":[]},{"id":"16f52e17.84e702","type":"inject","z":"9358c8fc.f91e28","name":"Jesse Home","topic":"device_tracker.jesse","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["82c0b842.613d08"]]},{"id":"3d6ca0b3.b57a68","type":"switch","z":"9358c8fc.f91e28","name":"Previously home?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Just Left|Home","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":500,"wires":[["1e457f02.6405d1"],["d69d6ccd.ebe958"]]},{"id":"1e457f02.6405d1","type":"api-call-service","z":"9358c8fc.f91e28","name":"Home","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"{{data.entity_id}}","data":"{\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":590,"y":380,"wires":[["aa3eae6.ff4415"]]},{"id":"aa3eae6.ff4415","type":"debug","z":"9358c8fc.f91e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":340,"wires":[]},{"id":"6dede71f.45a47","type":"trigger","z":"9358c8fc.f91e28","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10m","x":750,"y":480,"wires":[["1e457f02.6405d1"]]},{"id":"d69d6ccd.ebe958","type":"api-call-service","z":"9358c8fc.f91e28","name":"Just Arrived","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"{{data.entity_id}}","data":"{\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":610,"y":480,"wires":[["6dede71f.45a47","ac2ca6ec.0ce4d8"]]},{"id":"f7bd5cd6.e0f478","type":"comment","z":"9358c8fc.f91e28","name":"Advanced Individual Home Status","info":"","x":150,"y":40,"wires":[]},{"id":"8fee9759.46418","type":"comment","z":"9358c8fc.f91e28","name":"Setup state","info":"","x":610,"y":140,"wires":[]},{"id":"123e38ef.31e407","type":"change","z":"9358c8fc.f91e28","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["2bdddfbc.d415c","4ef93afc.13b66c"]]},{"id":"35a2f06b.6932d","type":"change","z":"9358c8fc.f91e28","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":580,"wires":[["6dede71f.45a47","4ef93afc.13b66c"]]},{"id":"9bd5b3b2.3ca74","type":"api-call-service","z":"9358c8fc.f91e28","name":"Just Left","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"{{data.entity_id}}","data":"{\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":340,"y":620,"wires":[["2bdddfbc.d415c","184b9497.932a3b"]]},{"id":"2bdddfbc.d415c","type":"trigger","z":"9358c8fc.f91e28","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10m","x":590,"y":620,"wires":[["f78065c6.5e6578"]]},{"id":"f78065c6.5e6578","type":"api-call-service","z":"9358c8fc.f91e28","name":"Away","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"{{data.entity_id}}","data":"{\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":620,"wires":[["67754788.dff77","4ef93afc.13b66c"]]},{"id":"ac2ca6ec.0ce4d8","type":"debug","z":"9358c8fc.f91e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":440,"wires":[]},{"id":"184b9497.932a3b","type":"debug","z":"9358c8fc.f91e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":660,"wires":[]},{"id":"67754788.dff77","type":"debug","z":"9358c8fc.f91e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":660,"wires":[]},{"id":"82c0d247.901a18","type":"api-call-service","z":"9358c8fc.f91e28","name":"Extended Away","server":"e733e8b1.0de76","version":"1","debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"{{data.entity_id}}","data":"{\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1040,"y":620,"wires":[["73ed849.c4659fc"]]},{"id":"4ef93afc.13b66c","type":"trigger","z":"9358c8fc.f91e28","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24h","x":890,"y":620,"wires":[["82c0d247.901a18"]]},{"id":"73ed849.c4659fc","type":"debug","z":"9358c8fc.f91e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":580,"wires":[]},{"id":"384538c2.89c5e8","type":"comment","z":"9358c8fc.f91e28","name":"State machine","info":"","x":90,"y":300,"wires":[]},{"id":"cbe58699.4f485","type":"server-state-changed","z":"9358c8fc.f91e28","name":"Home Status","server":"e733e8b1.0de76","version":1,"entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":370,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"31341381.3cc85c","type":"server-state-changed","z":"9358c8fc.f91e28","name":"Jesse Status","server":"e733e8b1.0de76","version":"1","entityidfilter":"input_select.jesse_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":530,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"14dde356.b01d55","type":"inject","z":"9358c8fc.f91e28","name":"Jesse Away","topic":"device_tracker.jesse","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["82c0b842.613d08"]]},{"id":"2382832c.e602dc","type":"server-state-changed","z":"9358c8fc.f91e28","name":"Andrew","server":"e733e8b1.0de76","version":"1","entityidfilter":"sensor.andrew","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":410,"y":140,"wires":[["82c0b842.613d08"]]},{"id":"a3218724.547e18","type":"inject","z":"9358c8fc.f91e28","name":"Andrew Home","topic":"device_tracker.andrew","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":180,"wires":[["82c0b842.613d08"]]},{"id":"29350b38.f1168c","type":"inject","z":"9358c8fc.f91e28","name":"Andrew Away","topic":"device_tracker.andrew","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":220,"wires":[["82c0b842.613d08"]]},{"id":"251184e5.6cc2cc","type":"server-state-changed","z":"9358c8fc.f91e28","name":"Andrew Status","server":"e733e8b1.0de76","version":"1","entityidfilter":"input_select.andrew_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":700,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"9817a930.5286a","type":"server-state-changed","z":"3e096a3e.358aee","name":"Lights On","server":"e733e8b1.0de76","version":1,"entityidfilter":"light.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":200,"wires":[[],["ec66dc8.73bd5a","ec66dc8.73bd5a"]]},{"id":"631c3ffc.3fbc28","type":"switch","z":"3e096a3e.358aee","name":"Only Hue","property":"payload.attributes.supported_features","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":440,"y":200,"wires":[["f607fa0d.80bcd"]]},{"id":"426ea57f.830884","type":"time-range-switch","z":"3e096a3e.358aee","name":"Sunset","lat":"43.457818","lon":"-80.519625","startTime":"sunsetStart","endTime":"night","startOffset":0,"endOffset":"0","x":360,"y":880,"wires":[["825c61b.fb8e5a"],[]]},{"id":"dd480f68.7fedb","type":"time-range-switch","z":"3e096a3e.358aee","name":"Golden Hour","lat":"43.457818","lon":"-80.519625","startTime":"goldenHour","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":370,"y":820,"wires":[["fa13b6c0.3d4a1"],[]]},{"id":"da558ca5.a6b9e","type":"time-range-switch","z":"3e096a3e.358aee","name":"Sunrise","lat":"43.457818","lon":"-80.519625","startTime":"sunrise","endTime":"goldenHourEnd","startOffset":0,"endOffset":0,"x":360,"y":640,"wires":[["7f4774f3.edcf94"],[]]},{"id":"d4e5d88.7ed18a8","type":"time-range-switch","z":"3e096a3e.358aee","name":"Nadir","lat":"43.457818","lon":"-80.519625","startTime":"nadir","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":350,"y":1060,"wires":[["af7fc2d5.5805a8"],[]]},{"id":"7f4774f3.edcf94","type":"change","z":"3e096a3e.358aee","name":"White (150)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":150}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":640,"wires":[["a4fb56d7.f310b8"]]},{"id":"ad014dfe.8f0338","type":"api-call-service","z":"3e096a3e.358aee","name":"Adjust Light","server":"e733e8b1.0de76","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1060,"wires":[[]]},{"id":"a4fb56d7.f310b8","type":"function","z":"3e096a3e.358aee","name":"Set Data","func":"let data = msg.payload;\ndata['entity_id'] = msg.topic;\n\nreturn {\n    payload: { data }\n};","outputs":1,"noerr":0,"x":820,"y":1060,"wires":[["ad014dfe.8f0338"]]},{"id":"fa13b6c0.3d4a1","type":"change","z":"3e096a3e.358aee","name":"White (325)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":325}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[["a4fb56d7.f310b8"]]},{"id":"825c61b.fb8e5a","type":"change","z":"3e096a3e.358aee","name":"White (360)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":360}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":880,"wires":[["a4fb56d7.f310b8"]]},{"id":"af7fc2d5.5805a8","type":"change","z":"3e096a3e.358aee","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"xy_color\":[0.675,0.322]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1060,"wires":[["a4fb56d7.f310b8"]]},{"id":"39aca8a4.a85428","type":"ha-get-entities","z":"3e096a3e.358aee","server":"e733e8b1.0de76","name":"Get Hue Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.supported_features","logic":"gt","value":"1","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":380,"y":140,"wires":[["f607fa0d.80bcd"]]},{"id":"1ded36a0.3440e9","type":"inject","z":"3e096a3e.358aee","name":"Every 10 minutes","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"5","x":190,"y":100,"wires":[["39aca8a4.a85428"]]},{"id":"49cffa48.524ee4","type":"change","z":"3e096a3e.358aee","name":"Set Topic","rules":[{"t":"move","p":"payload.entity_id","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["d2641557.97b348"]]},{"id":"f607fa0d.80bcd","type":"switch","z":"3e096a3e.358aee","name":"Hue Group?","property":"payload.attributes.is_hue_group","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":360,"wires":[[],["49cffa48.524ee4"]]},{"id":"87da1f90.e62678","type":"sun events","z":"3c502aab.85840e","testmode":false,"verbose":true,"topic":"","name":"","x":100,"y":1080,"wires":[["8bd25d03.c1f728"]]},{"id":"8bd25d03.c1f728","type":"switch","z":"3c502aab.85840e","name":"Sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1080,"wires":[["442eda22.2e56e4"]]},{"id":"1bd06574.1ce06b","type":"inject","z":"3c502aab.85840e","name":"","topic":"","payload":"homeStatus","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1120,"wires":[["442eda22.2e56e4"]]},{"id":"442eda22.2e56e4","type":"switch","z":"3c502aab.85840e","name":"Home","property":"homeStatus","propertyType":"flow","rules":[{"t":"regex","v":"Just Arrived|Some Home|Home","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1080,"wires":[["e3734391.18fb78"]]},{"id":"9243644b.d3e23","type":"api-call-service","z":"3c502aab.85840e","name":"Good morning lights","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.hutch_on_slow\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":1080,"wires":[[]]},{"id":"fb312e93.6452e8","type":"inject","z":"3c502aab.85840e","name":"22:30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["3e43c59e.ff32ba"]]},{"id":"3e43c59e.ff32ba","type":"switch","z":"3c502aab.85840e","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["872c7072.28d458"]]},{"id":"7aa65430.25ed2c","type":"api-call-service","z":"3c502aab.85840e","name":"Goodnight","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.1514647809398\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":240,"wires":[[]]},{"id":"872c7072.28d458","type":"delay","z":"3c502aab.85840e","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"x":690,"y":240,"wires":[["7aa65430.25ed2c","6c487ebe.6d3fe"]]},{"id":"23eb670.4b1219a","type":"api-call-service","z":"3c502aab.85840e","name":"Entrance Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.indoor_entrance_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":800,"wires":[[]]},{"id":"59429ff2.b93568","type":"api-call-service","z":"3c502aab.85840e","name":"Office Primary On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.office_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":720,"wires":[[]]},{"id":"8ca893ee.d14fc8","type":"api-call-service","z":"3c502aab.85840e","name":"Living Room Primary On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.living_room_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":760,"wires":[[]]},{"id":"4b89466f.5be2c8","type":"api-call-service","z":"3c502aab.85840e","name":"Office Primary Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.office_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":710,"y":800,"wires":[[]]},{"id":"59fbea38.d15734","type":"api-call-service","z":"3c502aab.85840e","name":"Living Room Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.living_room_devices\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":840,"wires":[[]]},{"id":"440a4489.00f53c","type":"api-call-service","z":"3c502aab.85840e","name":"Front Door On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":580,"wires":[[]]},{"id":"e5e26878.367ec","type":"delay","z":"3c502aab.85840e","name":"0-10 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"x":690,"y":580,"wires":[["440a4489.00f53c"]]},{"id":"de43002c.92a098","type":"api-call-service","z":"3c502aab.85840e","name":"Office Primary On","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.office_primary\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":1220,"wires":[[]]},{"id":"3c88a190.152026","type":"comment","z":"3c502aab.85840e","name":"Time Triggers","info":"","x":110,"y":200,"wires":[]},{"id":"508b95b4.955bc4","type":"comment","z":"3c502aab.85840e","name":"Home Status Triggers","info":"","x":140,"y":420,"wires":[]},{"id":"4efb8a3d.bbab6c","type":"comment","z":"3c502aab.85840e","name":"Sun Triggers","info":"","x":110,"y":1040,"wires":[]},{"id":"e7eae3b1.94c038","type":"delay","z":"3c502aab.85840e","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"x":750,"y":1280,"wires":[["7ecad175.7e0488","3b35f816.b2d2e8"]]},{"id":"3931eb00.d5ab04","type":"delay","z":"3c502aab.85840e","name":"0-10 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"x":750,"y":1360,"wires":[["f9aa1d4a.9df0f"]]},{"id":"24569342.b3b0e4","type":"delay","z":"3c502aab.85840e","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"x":690,"y":280,"wires":[["5f9fc7a6.37544"]]},{"id":"6c487ebe.6d3fe","type":"api-call-service","z":"3c502aab.85840e","name":"Front Door Off","server":"e733e8b1.0de76","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.front_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":200,"wires":[[]]},{"id":"e3734391.18fb78","type":"weekday","z":"3c502aab.85840e","name":"Week?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":550,"y":1080,"wires":[["9243644b.d3e23"],[]]},{"id":"49f419a2.c7744","type":"inject","z":"3e096a3e.358aee","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1220,"wires":[["fe1bf07a.4cb25"]]},{"id":"82fc34f4.a47968","type":"switch","z":"3e096a3e.358aee","name":"Hue Group?","property":"payload.attributes.is_hue_group","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1220,"wires":[[],["97f9f1e4.4b8098"]]},{"id":"97f9f1e4.4b8098","type":"change","z":"3e096a3e.358aee","name":"Set Topic","rules":[{"t":"move","p":"payload.entity_id","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1220,"wires":[["fe6b6143.20a768"]]},{"id":"ec66dc8.73bd5a","type":"change","z":"3e096a3e.358aee","name":"Set Payload","rules":[{"t":"move","p":"data.new_state","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["631c3ffc.3fbc28"]]},{"id":"fa9f4455.0319","type":"debug","z":"3e096a3e.358aee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"d2641557.97b348","type":"deduplicate","z":"3e096a3e.358aee","name":"","expiry":5,"x":450,"y":360,"wires":[["81b13490.bfa2a"],[]]},{"id":"410a2b13.121434","type":"comment","z":"3e096a3e.358aee","name":"Triggers","info":"","x":100,"y":40,"wires":[]},{"id":"f0c70a3e.5a9f78","type":"comment","z":"3e096a3e.358aee","name":"Set colours based on time of day","info":"","x":170,"y":460,"wires":[]},{"id":"b7c11fb4.9d3ad","type":"api-current-state","z":"3e096a3e.358aee","name":"Mode: Sun?","server":"e733e8b1.0de76","version":1,"outputs":2,"halt_if":"Sun","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.light_mode_dropdown","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":150,"y":520,"wires":[["da558ca5.a6b9e","dd480f68.7fedb","426ea57f.830884","d4e5d88.7ed18a8","16fe10be.1c98c7","6e71224.cc5cbdc","f02577ff.a3ee48","a0be1be9.702988","e084598a.735b98","aee6d240.a84538"],[]],"icon":"node-red-node-suncalc/sun.png"},{"id":"fe1bf07a.4cb25","type":"ha-get-entities","z":"3e096a3e.358aee","server":"e733e8b1.0de76","name":"Get Hue Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.supported_features","logic":"gt","value":"1","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":300,"y":1220,"wires":[["82fc34f4.a47968"]]},{"id":"c1603e2e.abc3a","type":"server-state-changed","z":"3e096a3e.358aee","name":"Current Light Mode","server":"e733e8b1.0de76","version":1,"entityidfilter":"input_select.light_mode_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":270,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"22fc2554.3a07aa","type":"server-state-changed","z":"3e096a3e.358aee","name":"Sun Mode","server":"e733e8b1.0de76","version":1,"entityidfilter":"input_select.light_mode_dropdown","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Sun","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":140,"wires":[["39aca8a4.a85428"],[]]},{"id":"81b13490.bfa2a","type":"switch","z":"3e096a3e.358aee","name":"Clean empty","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":360,"wires":[["fa9f4455.0319","b7c11fb4.9d3ad"]]},{"id":"cebd3300.67f048","type":"comment","z":"3e096a3e.358aee","name":"Clean & Normalize","info":"","x":130,"y":300,"wires":[]},{"id":"fe6b6143.20a768","type":"switch","z":"3e096a3e.358aee","name":"Clean empty","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1220,"wires":[[]]},{"id":"2465ee60.051212","type":"time-range-switch","z":"3e096a3e.358aee","name":"nauticalDawn","lat":"43.457818","lon":"-80.519625","startTime":"nauticalDawn","endTime":"dawn","startOffset":0,"endOffset":0,"x":380,"y":1340,"wires":[[],[]]},{"id":"72a5701b.28692","type":"time-range-switch","z":"3e096a3e.358aee","name":"dawn","lat":"43.457818","lon":"-80.519625","startTime":"dawn","endTime":"sunrise","startOffset":0,"endOffset":0,"x":350,"y":1400,"wires":[[],[]]},{"id":"c6c5546d.d215d8","type":"time-range-switch","z":"3e096a3e.358aee","name":"sunrise","lat":"43.457818","lon":"-80.519625","startTime":"sunrise","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":360,"y":1460,"wires":[[],[]]},{"id":"942daf53.c88418","type":"time-range-switch","z":"3e096a3e.358aee","name":"sunriseEnd","lat":"43.457818","lon":"-80.519625","startTime":"sunriseEnd","endTime":"goldenHourEnd","startOffset":0,"endOffset":0,"x":370,"y":1520,"wires":[[],[]]},{"id":"f830e7cc.6945b","type":"time-range-switch","z":"3e096a3e.358aee","name":"solarNoon","lat":"43.457818","lon":"-80.519625","startTime":"solarNoon","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":370,"y":1640,"wires":[[],[]]},{"id":"a9740031.7c921","type":"time-range-switch","z":"3e096a3e.358aee","name":"goldenHour","lat":"43.457818","lon":"-80.519625","startTime":"goldenHour","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":630,"y":1280,"wires":[[],[]]},{"id":"909294c0.136758","type":"time-range-switch","z":"3e096a3e.358aee","name":"goldenHourEnd","lat":"43.457818","lon":"-80.519625","startTime":"goldenHourEnd","endTime":"solarNoon","startOffset":0,"endOffset":0,"x":380,"y":1580,"wires":[[],[]]},{"id":"bdc22460.620ff","type":"time-range-switch","z":"3e096a3e.358aee","name":"sunset","lat":"43.457818","lon":"-80.519625","startTime":"sunset","endTime":"dusk","startOffset":0,"endOffset":0,"x":610,"y":1400,"wires":[[],[]]},{"id":"91ec564e.2b4088","type":"time-range-switch","z":"3e096a3e.358aee","name":"dusk","lat":"43.457818","lon":"-80.519625","startTime":"dusk","endTime":"nauticalDusk","startOffset":0,"endOffset":0,"x":610,"y":1460,"wires":[[],[]]},{"id":"c489384e.99aa78","type":"time-range-switch","z":"3e096a3e.358aee","name":"nauticalDusk","lat":"43.457818","lon":"-80.519625","startTime":"nauticalDusk","endTime":"night","startOffset":0,"endOffset":0,"x":630,"y":1520,"wires":[[],[]]},{"id":"5e2df069.785058","type":"time-range-switch","z":"3e096a3e.358aee","name":"sunsetStart","lat":"43.457818","lon":"-80.519625","startTime":"sunsetStart","endTime":"sunset","startOffset":0,"endOffset":0,"x":630,"y":1340,"wires":[[],[]]},{"id":"a4cc9234.97b1c","type":"time-range-switch","z":"3e096a3e.358aee","name":"night","lat":"43.457818","lon":"-80.519625","startTime":"night","endTime":"nadir","startOffset":0,"endOffset":0,"x":610,"y":1580,"wires":[[],[]]},{"id":"ffad98c5.33ff6","type":"time-range-switch","z":"3e096a3e.358aee","name":"nadir","lat":"43.457818","lon":"-80.519625","startTime":"nadir","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":610,"y":1640,"wires":[[],[]]},{"id":"17edd26.d59652e","type":"time-range-switch","z":"3e096a3e.358aee","name":"nightEnd","lat":"43.457818","lon":"-80.519625","startTime":"nightEnd","endTime":"nauticalDawn","startOffset":0,"endOffset":0,"x":360,"y":1280,"wires":[[],[]]},{"id":"9b77acf5.3e63b","type":"inject","z":"3e096a3e.358aee","name":"Now","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":1280,"wires":[["17edd26.d59652e","a9740031.7c921","5e2df069.785058","2465ee60.051212","72a5701b.28692","bdc22460.620ff","c6c5546d.d215d8","91ec564e.2b4088","942daf53.c88418","c489384e.99aa78","909294c0.136758","a4cc9234.97b1c","f830e7cc.6945b","ffad98c5.33ff6"]]},{"id":"5f00a6ab.87e8a8","type":"comment","z":"3e096a3e.358aee","name":"Time ranges & Testing","info":"","x":140,"y":1160,"wires":[]},{"id":"16fe10be.1c98c7","type":"time-range-switch","z":"3e096a3e.358aee","name":"Night End","lat":"43.457818","lon":"-80.519625","startTime":"nightEnd","endTime":"dawn","startOffset":0,"endOffset":0,"x":360,"y":520,"wires":[["a096543f.cf99b8"],[]]},{"id":"a096543f.cf99b8","type":"change","z":"3e096a3e.358aee","name":"White (430)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":430}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":520,"wires":[["a4fb56d7.f310b8"]]},{"id":"6e71224.cc5cbdc","type":"time-range-switch","z":"3e096a3e.358aee","name":"Dawn","lat":"43.457818","lon":"-80.519625","startTime":"dawn","endTime":"sunrise","startOffset":0,"endOffset":0,"x":350,"y":580,"wires":[["84c18d3f.7a692"],[]]},{"id":"84c18d3f.7a692","type":"change","z":"3e096a3e.358aee","name":"White (220)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":220}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":580,"wires":[["a4fb56d7.f310b8"]]},{"id":"f02577ff.a3ee48","type":"time-range-switch","z":"3e096a3e.358aee","name":"Solar Noon","lat":"43.457818","lon":"-80.519625","startTime":"solarNoon","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":370,"y":760,"wires":[["78f8e6ae.516bf"],[]]},{"id":"78f8e6ae.516bf","type":"change","z":"3e096a3e.358aee","name":"White (290)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":290}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":760,"wires":[["a4fb56d7.f310b8"]]},{"id":"965e087a.85e208","type":"change","z":"3e096a3e.358aee","name":"White (220)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":220}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":700,"wires":[["a4fb56d7.f310b8"]]},{"id":"a0be1be9.702988","type":"time-range-switch","z":"3e096a3e.358aee","name":"Morning Golden Hour","lat":"43.457818","lon":"-80.519625","startTime":"goldenHourEnd","endTime":"solarNoon","startOffset":0,"endOffset":0,"x":400,"y":700,"wires":[["965e087a.85e208"],[]]},{"id":"e084598a.735b98","type":"time-range-switch","z":"3e096a3e.358aee","name":"Night","lat":"43.457818","lon":"-80.519625","startTime":"night","endTime":"night","startOffset":0,"endOffset":"180","x":350,"y":940,"wires":[["c2c04f06.1592d8"],[]]},{"id":"c2c04f06.1592d8","type":"change","z":"3e096a3e.358aee","name":"White (430)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":430}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":940,"wires":[["a4fb56d7.f310b8"]]},{"id":"aee6d240.a84538","type":"time-range-switch","z":"3e096a3e.358aee","name":"Night (+3h)","lat":"43.457818","lon":"-80.519625","startTime":"night","endTime":"nadir","startOffset":"180","endOffset":0,"x":370,"y":1000,"wires":[["4df9baef.072a64"],[]]},{"id":"4df9baef.072a64","type":"change","z":"3e096a3e.358aee","name":"White (500)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"white_value\":255,\"color_temp\":500}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[["a4fb56d7.f310b8"]]}]