node-red/flows.json
[{"id":"7d91c878.19309","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"63d8e6e.c76fa18","type":"tab","label":"House Lighting","disabled":false,"info":""},{"id":"22c06325.2fa04c","type":"tab","label":"Media","disabled":false,"info":""},{"id":"97ca37d8.605b98","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"77c3aab7.cb3a74","type":"subflow","name":"Dark out?","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1545154f.78c56b"}]}],"out":[{"x":420,"y":40,"wires":[{"id":"1545154f.78c56b","port":0}]},{"x":420,"y":120,"wires":[{"id":"1545154f.78c56b","port":1}]}],"env":[],"color":"#C0C0C0","outputLabels":["Dark","Light"],"icon":"font-awesome/fa-moon-o"},{"id":"fdf8c989.43985","type":"subflow","name":"Sun Events","info":"","category":"","in":[],"out":[{"x":340,"y":80,"wires":[{"id":"8a102a56.79682","port":0}]}],"env":[],"color":"#FFCC66","icon":"node-red-contrib-sun-position/sun-white.png"},{"id":"cf7a0b8.3976cf8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"1545154f.78c56b","type":"time-range-switch","z":"77c3aab7.cb3a74","name":"Home: Dark out?","lat":"43.461347398016876","lon":"-80.51426857709886","startTime":"sunsetStart","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":230,"y":80,"wires":[[],[]]},{"id":"8a102a56.79682","type":"sun events","z":"fdf8c989.43985","testmode":false,"verbose":true,"topic":"","name":"Home: Sun Events","x":190,"y":80,"wires":[[]]},{"id":"8601ca27.bf8d08","type":"change","z":"7d91c878.19309","name":"Set Topic","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["e45f7e56.1b2ab8"]]},{"id":"dbc2eee9.fa304","type":"switch","z":"7d91c878.19309","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":560,"wires":[["cee6a2e0.88973","3f780431.43f16c"],["c25a9a81.9390f8","db608021.cca04"]]},{"id":"e45f7e56.1b2ab8","type":"template","z":"7d91c878.19309","name":"Set previous state","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}_status_dropdown","output":"str","x":810,"y":180,"wires":[["2a0c5ce2.3af66c"]]},{"id":"48f2f0ff.5a76f8","type":"debug","z":"7d91c878.19309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":140,"wires":[]},{"id":"97d76eed.f01","type":"inject","z":"7d91c878.19309","name":"Jesse Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.jesse","payload":"true","payloadType":"bool","x":170,"y":180,"wires":[["8601ca27.bf8d08"]]},{"id":"cee6a2e0.88973","type":"switch","z":"7d91c878.19309","name":"Previously home?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Just Left|Home","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":500,"wires":[["9de7bca0.e91f58"],["da3814f5.6ad698"]]},{"id":"98ec53ae.725b28","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":340,"wires":[]},{"id":"ad0ddbd4.78179","type":"trigger","z":"7d91c878.19309","name":"10m","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","outputs":1,"x":750,"y":480,"wires":[["9de7bca0.e91f58"]]},{"id":"83c4563f.6952e8","type":"comment","z":"7d91c878.19309","name":"Advanced Individual Home Status","info":"","x":150,"y":40,"wires":[]},{"id":"209b88bc.c7eb6","type":"comment","z":"7d91c878.19309","name":"Setup state","info":"","x":610,"y":140,"wires":[]},{"id":"3f780431.43f16c","type":"change","z":"7d91c878.19309","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["5987e458.9ef54c","e84f599.46b6d28"]]},{"id":"c25a9a81.9390f8","type":"change","z":"7d91c878.19309","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":580,"wires":[["ad0ddbd4.78179","e84f599.46b6d28"]]},{"id":"5987e458.9ef54c","type":"trigger","z":"7d91c878.19309","name":"10m","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","outputs":1,"x":590,"y":620,"wires":[["8deb9dfa.acb1b8"]]},{"id":"2782e42.ef5181c","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":440,"wires":[]},{"id":"77c88615.287348","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":660,"wires":[]},{"id":"562b8a45.d1d964","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":660,"wires":[]},{"id":"e84f599.46b6d28","type":"trigger","z":"7d91c878.19309","name":"24h","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","outputs":1,"x":890,"y":620,"wires":[["c329c926.bdaa68"]]},{"id":"d7108244.061cb","type":"debug","z":"7d91c878.19309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":580,"wires":[]},{"id":"8d0fe4dd.8530d","type":"comment","z":"7d91c878.19309","name":"State machine","info":"","x":90,"y":300,"wires":[]},{"id":"c2cbef1.4a44b9","type":"inject","z":"7d91c878.19309","name":"Jesse Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.jesse","payload":"false","payloadType":"bool","x":170,"y":220,"wires":[["8601ca27.bf8d08"]]},{"id":"de5a7ff6.07af7","type":"inject","z":"7d91c878.19309","name":"Andrew Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.andrew","payload":"true","payloadType":"bool","x":390,"y":180,"wires":[["8601ca27.bf8d08"]]},{"id":"2ebcc03f.2bfa08","type":"inject","z":"7d91c878.19309","name":"Andrew Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"person.andrew","payload":"false","payloadType":"bool","x":390,"y":220,"wires":[["8601ca27.bf8d08"]]},{"id":"a9af07ff.8f48a8","type":"server-state-changed","z":"7d91c878.19309","name":"Jesse","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jesse","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":140,"wires":[["8601ca27.bf8d08"]]},{"id":"d6ede0de.0a1e1","type":"server-state-changed","z":"7d91c878.19309","name":"Home Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"9692edfb.2f8658","type":"server-state-changed","z":"7d91c878.19309","name":"Jesse Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.jesse_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":530,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"7356b178.be697","type":"server-state-changed","z":"7d91c878.19309","name":"Andrew","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.andrew","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":410,"y":140,"wires":[["8601ca27.bf8d08"]]},{"id":"55daaa82.aa299c","type":"server-state-changed","z":"7d91c878.19309","name":"Andrew Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.andrew_status_dropdown","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":700,"y":40,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"9de7bca0.e91f58","type":"api-call-service","z":"7d91c878.19309","name":"Home","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":590,"y":380,"wires":[["98ec53ae.725b28"]]},{"id":"da3814f5.6ad698","type":"api-call-service","z":"7d91c878.19309","name":"Just Arrived","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"option\":\"Just Arrived\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":610,"y":480,"wires":[["ad0ddbd4.78179","2782e42.ef5181c"]]},{"id":"db608021.cca04","type":"api-call-service","z":"7d91c878.19309","name":"Just Left","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"option\":\"Just Left\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":340,"y":620,"wires":[["5987e458.9ef54c","77c88615.287348"]]},{"id":"8deb9dfa.acb1b8","type":"api-call-service","z":"7d91c878.19309","name":"Away","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":710,"y":620,"wires":[["562b8a45.d1d964","e84f599.46b6d28"]]},{"id":"c329c926.bdaa68","type":"api-call-service","z":"7d91c878.19309","name":"Extended Away","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"option\":\"Extended Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1040,"y":620,"wires":[["d7108244.061cb"]]},{"id":"2a0c5ce2.3af66c","type":"api-current-state","z":"7d91c878.19309","name":"Fetch","server":"cf7a0b8.3976cf8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":970,"y":180,"wires":[["dbc2eee9.fa304","48f2f0ff.5a76f8"]]},{"id":"4d989e69.492af","type":"switch","z":"63d8e6e.c76fa18","name":"Home, Gone, Any Gone","property":"homeStatus","propertyType":"flow","rules":[{"t":"regex","v":"Just Arrived|Some Home|Home","vt":"str","case":true},{"t":"regex","v":"Just Left|Away|Extended Away","vt":"str","case":true},{"t":"regex","v":"Some Home|Just Left|Away","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":1660,"wires":[["1f9112ed.072495","1ff90db5.e6cf0a"],["accdbf39.7c3eb8"],[]]},{"id":"71f76303.f61f64","type":"inject","z":"63d8e6e.c76fa18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"homeStatus","payloadType":"flow","x":220,"y":1700,"wires":[["4d989e69.492af"]]},{"id":"981d619a.eb769","type":"switch","z":"63d8e6e.c76fa18","name":"Sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1660,"wires":[["4d989e69.492af"]]},{"id":"f1d19710.472928","type":"delay","z":"63d8e6e.c76fa18","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"outputs":1,"x":690,"y":1020,"wires":[["69c708b6.1ba2f","3af05ccd.06de3c","3eb2cd0f.0b8122","81d28098.fba2a"]]},{"id":"be200dbd.cd9428","type":"inject","z":"63d8e6e.c76fa18","name":"00:30","repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":660,"wires":[["577425a9.40485c"]]},{"id":"577425a9.40485c","type":"switch","z":"63d8e6e.c76fa18","name":"Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":660,"wires":[["6885988e.ac15b"]]},{"id":"530cecb5.be5414","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":620,"wires":[["7a376537.b7063c"]]},{"id":"7a376537.b7063c","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":620,"wires":[["7983e053.7933d8"]]},{"id":"f4e23175.281c4","type":"delay","z":"63d8e6e.c76fa18","name":"0-10 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"outputs":1,"x":690,"y":880,"wires":[["6f4ccfaf.26fde"]]},{"id":"6e138104.3e6d68","type":"comment","z":"63d8e6e.c76fa18","name":"Time Triggers","info":"","x":110,"y":200,"wires":[]},{"id":"c038d6cb.fe85","type":"comment","z":"63d8e6e.c76fa18","name":"Home Status Triggers","info":"","x":140,"y":720,"wires":[]},{"id":"d132892f.8f0ee","type":"comment","z":"63d8e6e.c76fa18","name":"Sun Triggers","info":"","x":110,"y":1340,"wires":[]},{"id":"accdbf39.7c3eb8","type":"delay","z":"63d8e6e.c76fa18","name":"0-20 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"outputs":1,"x":750,"y":1660,"wires":[["b38bd5cb.45d168","9f6c09da.a5ce2","aea3ae26.f387f8"]]},{"id":"6885988e.ac15b","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":660,"wires":[["ee2c458d.ec8dc"]]},{"id":"a40c9767.93a26","type":"change","z":"63d8e6e.c76fa18","name":"Track Home Status","rules":[{"t":"set","p":"homeStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[[]]},{"id":"18236819.e4c768","type":"comment","z":"63d8e6e.c76fa18","name":"Track Important States","info":"","x":140,"y":40,"wires":[]},{"id":"582a612d.b33b5","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Any Gone","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kvnqopoxa5a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Left, Away, Some Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":240,"y":880,"wires":[["1c646277.50e136"],[]]},{"id":"7437e761.a83448","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"r82ucr4r29","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"id":"ukropjujhfa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":220,"y":760,"wires":[["eee46007.d7f35","9f126c48.246fc","d5747a0f.b7ed18"],[]]},{"id":"57455ef5.c30968","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Just Arrived","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ferg68nytr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":230,"y":1240,"wires":[["b34af073.9e335"],[]]},{"id":"d6beba3c.4efc1","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Just \"Just Arrived\"","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"xb2p2nqtecp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":210,"y":1200,"wires":[["68e0ecdd.145d84"],[]]},{"id":"b293da0d.369cd8","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Away","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wumzlm1pw0q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":250,"y":1040,"wires":[["260093be.a47de4","e286a9ef.89208","8ec772ab.5143a8"],[]]},{"id":"3e37e65e.cc4a22","type":"server-state-changed","z":"63d8e6e.c76fa18","name":"Home Status","server":"cf7a0b8.3976cf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.home_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":80,"wires":[["a40c9767.93a26"]],"icon":"node-red-contrib-home-assistant-websocket/home.png"},{"id":"1f9112ed.072495","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.living_room_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":760,"y":1580,"wires":[[]]},{"id":"b38bd5cb.45d168","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Primary On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_primary"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1010,"y":1640,"wires":[[]]},{"id":"9f6c09da.a5ce2","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Primary On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.office_primary"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":990,"y":1680,"wires":[[]]},{"id":"b34af073.9e335","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.indoor_entrance_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":450,"y":1240,"wires":[[]]},{"id":"68e0ecdd.145d84","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.indoor_entrance_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":450,"y":1200,"wires":[[]]},{"id":"eee46007.d7f35","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bar On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.butlers_pantry"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":800,"wires":[[]]},{"id":"71fd16a1.6c5ca8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.living_room_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":700,"y":760,"wires":[[]]},{"id":"763e70de.9a8fc","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Front Door Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.front_porch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":480,"y":580,"wires":[[]]},{"id":"ee2c458d.ec8dc","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodnight","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1514647809398"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":910,"y":660,"wires":[[]]},{"id":"7983e053.7933d8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodnight","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1514647809398"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":910,"y":620,"wires":[[]]},{"id":"260093be.a47de4","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Entrance Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.indoor_entrance_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":450,"y":1100,"wires":[[]]},{"id":"69c708b6.1ba2f","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Shelf On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_backlight_plug"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":1020,"wires":[[]]},{"id":"3af05ccd.06de3c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Primary On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_primary"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":930,"y":1060,"wires":[[]]},{"id":"ab20f48d.531558","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Living Room Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.living_room_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":700,"y":1140,"wires":[[]]},{"id":"42f14df9.b9563c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Shelf Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_backlight_plug"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":700,"y":1100,"wires":[[]]},{"id":"1ff90db5.e6cf0a","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bar On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.butlers_pantry"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":740,"y":1540,"wires":[[]]},{"id":"e286a9ef.89208","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bar Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.butlers_pantry"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":1140,"wires":[[]]},{"id":"8ec772ab.5143a8","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","x":440,"y":1040,"wires":[["f1d19710.472928"],["42f14df9.b9563c","ab20f48d.531558","a1425de9.06955"]]},{"id":"1c646277.50e136","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","x":440,"y":880,"wires":[["f4e23175.281c4"],[]]},{"id":"9f126c48.246fc","type":"subflow:77c3aab7.cb3a74","z":"63d8e6e.c76fa18","name":"","env":[],"x":440,"y":760,"wires":[["71fd16a1.6c5ca8"],[]]},{"id":"494442d3.5d66b4","type":"subflow:fdf8c989.43985","z":"63d8e6e.c76fa18","x":90,"y":1660,"wires":[["981d619a.eb769"]]},{"id":"6f4ccfaf.26fde","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":880,"wires":[[]]},{"id":"3eb2cd0f.0b8122","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":980,"wires":[[]]},{"id":"a1425de9.06955","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":700,"y":1180,"wires":[[]]},{"id":"aea3ae26.f387f8","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":980,"y":1600,"wires":[[]]},{"id":"4e3f90f4.68a2d8","type":"change","z":"63d8e6e.c76fa18","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1760,"wires":[["accdbf39.7c3eb8"]]},{"id":"3ba13b0a.e9fcfc","type":"trigger-state","z":"63d8e6e.c76fa18","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"r82ucr4r29","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"id":"ukropjujhfa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":220,"y":1760,"wires":[["4e3f90f4.68a2d8"],[]]},{"id":"79ddbb05.405bdc","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Outdoor Lights On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outdoor_lights_plug","switch.studio_outdoors","switch.front_porch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":470,"y":1420,"wires":[[]]},{"id":"453c6f6d.68e49","type":"subflow:fdf8c989.43985","z":"63d8e6e.c76fa18","x":90,"y":1420,"wires":[["50d1a102.c4f2e8"]]},{"id":"50d1a102.c4f2e8","type":"switch","z":"63d8e6e.c76fa18","name":"Sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunsetStart","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1420,"wires":[["79ddbb05.405bdc"]]},{"id":"b1cd13fb.c8e56","type":"subflow:fdf8c989.43985","z":"63d8e6e.c76fa18","name":"","env":[],"x":90,"y":1460,"wires":[["48d5875e.ec277"]]},{"id":"48d5875e.ec277","type":"switch","z":"63d8e6e.c76fa18","name":"Sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1460,"wires":[["a81943e5.6dfcf"]]},{"id":"a81943e5.6dfcf","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Outdoor Lights Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.outdoor_lights_plug","switch.studio_outdoors","switch.front_porch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":470,"y":1460,"wires":[[]]},{"id":"3586044c.242dac","type":"inject","z":"63d8e6e.c76fa18","name":"23:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":540,"wires":[["89b003c7.5ed7","763e70de.9a8fc","530cecb5.be5414"]]},{"id":"89b003c7.5ed7","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Studio Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.studio_outdoors"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":460,"y":540,"wires":[[]]},{"id":"81d28098.fba2a","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":1100,"wires":[[]]},{"id":"d5747a0f.b7ed18","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Christmas On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.christmas_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":460,"y":840,"wires":[[]]},{"id":"51cffefd.3d61b8","type":"trigger-state","z":"63d8e6e.c76fa18","name":"All Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"b4kimiq4z6i","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":240,"y":940,"wires":[[],[]]},{"id":"525e3835.5a0908","type":"inject","z":"63d8e6e.c76fa18","name":"08:00 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["4e7cf2a9.fa6424"]]},{"id":"4e7cf2a9.fa6424","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":260,"wires":[["14385384.5d40dc"]]},{"id":"14385384.5d40dc","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":260,"wires":[["9a1c4751.f0ab1"]]},{"id":"9a1c4751.f0ab1","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Goodmorning","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.good_morning"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":920,"y":260,"wires":[[]]},{"id":"f4b9c72e.16a518","type":"inject","z":"63d8e6e.c76fa18","name":"09:00 (weekend)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":300,"wires":[["4e7cf2a9.fa6424"]]},{"id":"28c8631.77de91c","type":"inject","z":"63d8e6e.c76fa18","name":"17:30 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 17 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":460,"wires":[["62cccbba.85e7c4"]]},{"id":"62cccbba.85e7c4","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":460,"wires":[["87cc9f5e.fe07e8"]]},{"id":"87cc9f5e.fe07e8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":460,"wires":[["8f346f4e.046ee"]]},{"id":"8f346f4e.046ee","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.spare_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":460,"wires":[[]]},{"id":"e4ea7179.f40ca8","type":"inject","z":"63d8e6e.c76fa18","name":"22:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":500,"wires":[["245acf4b.cdad58"]]},{"id":"245acf4b.cdad58","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":500,"wires":[["ca1dc11b.2080c8"]]},{"id":"ca1dc11b.2080c8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":500,"wires":[["4c3d846f.17503c"]]},{"id":"4c3d846f.17503c","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Bedtime","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.1523806783160"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":500,"wires":[[]]},{"id":"d57ce087.2728","type":"inject","z":"63d8e6e.c76fa18","name":"08:45 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":420,"wires":[["e5579e6c.c0ae"]]},{"id":"e5579e6c.c0ae","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":420,"wires":[["d550789f.db20c"]]},{"id":"d550789f.db20c","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":420,"wires":[["aa3455ae.6ef56"]]},{"id":"aa3455ae.6ef56","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Office On","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.spare_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":900,"y":420,"wires":[[]]},{"id":"80663c3c.d554b8","type":"inject","z":"63d8e6e.c76fa18","name":"08:30 (weekday)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["65ef7ba5.12c81c"]]},{"id":"65ef7ba5.12c81c","type":"switch","z":"63d8e6e.c76fa18","name":"Extended Away","property":"homeStatus","propertyType":"flow","rules":[{"t":"eq","v":"Extended Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":340,"wires":[["45d5c6a.ed5f1b8"]]},{"id":"45d5c6a.ed5f1b8","type":"delay","z":"63d8e6e.c76fa18","name":"0-30 Minutes","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"30","randomUnits":"minutes","drop":false,"outputs":1,"x":710,"y":340,"wires":[["d2c5851e.bcd31"]]},{"id":"d2c5851e.bcd31","type":"api-call-service","z":"63d8e6e.c76fa18","name":"Master Suite Off","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.master_suite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":920,"y":340,"wires":[[]]},{"id":"3329be7.5134642","type":"inject","z":"63d8e6e.c76fa18","name":"09:30 (weekend)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 09 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":380,"wires":[["65ef7ba5.12c81c"]]},{"id":"3860883a.88acd8","type":"debug","z":"22c06325.2fa04c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":60,"wires":[]},{"id":"361637fb.89ff18","type":"debug","z":"22c06325.2fa04c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":180,"wires":[]},{"id":"3c258c3d.2354b4","type":"trigger-state","z":"22c06325.2fa04c","name":"Leaving Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wumzlm1pw0q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":120,"y":100,"wires":[["3860883a.88acd8","22a5c995.4bbe06"],[]]},{"id":"792203b.703a47c","type":"trigger-state","z":"22c06325.2fa04c","name":"Coming Home","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.home_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"r82ucr4r29","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Away, Extended Away"},{"id":"ukropjujhfa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"includes","comparatorValueDatatype":"list","comparatorValue":"Just Arrived, Some Home, Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":120,"y":220,"wires":[["361637fb.89ff18","905d19c4.ff9b9"],[]]},{"id":"22a5c995.4bbe06","type":"api-call-service","z":"22c06325.2fa04c","name":"Music: Pause","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":[],"entityId":["group.sonos_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":360,"y":100,"wires":[[]]},{"id":"905d19c4.ff9b9","type":"api-call-service","z":"22c06325.2fa04c","name":"Music: Resume","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play","areaId":[],"deviceId":[],"entityId":["group.sonos_devices"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":360,"y":220,"wires":[[]]},{"id":"a2c62c6a.80ed08","type":"debug","z":"97ca37d8.605b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130,"y":40,"wires":[]},{"id":"d84719f5.72d78","type":"function","z":"97ca37d8.605b98","name":"Output normalizer","func":"function presetModeFrom(status) {\n    switch (status) {\n        case 'Just Arrived': return 'none';\n        case 'Some Home': return 'none';\n        case 'Home': return 'none';\n        case 'Away': return 'eco';\n    }\n}\n\nconst presetMode = presetModeFrom(msg.payload);\nif (!presetMode) return;\n\nreturn {\n    payload: {\n        data: { preset_mode: presetMode }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["ef65f1f8.40e2f","1be2403c.b63d08","e6bb476a.4f5838"]]},{"id":"ef65f1f8.40e2f","type":"debug","z":"97ca37d8.605b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","x":370,"y":40,"wires":[]},{"id":"1be2403c.b63d08","type":"api-call-service","z":"97ca37d8.605b98","name":"Update upstairs nest mode","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.upstairs"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":680,"y":80,"wires":[[]]},{"id":"642e7f45.ea6198","type":"poll-state","z":"97ca37d8.605b98","name":"Home Status","server":"cf7a0b8.3976cf8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5400","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"sensor.home_status","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":80,"wires":[["a2c62c6a.80ed08","d84719f5.72d78"]]},{"id":"e6bb476a.4f5838","type":"api-call-service","z":"97ca37d8.605b98","name":"Update living_room nest mode","server":"cf7a0b8.3976cf8","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.living_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":690,"y":120,"wires":[[]]},{"id":"94251965.75c1a8","type":"inject","z":"97ca37d8.605b98","name":"Home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor.home_status","payload":"Home","payloadType":"str","x":130,"y":140,"wires":[["d84719f5.72d78"]]},{"id":"fdff896d.4fb86","type":"inject","z":"97ca37d8.605b98","name":"Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor.home_status","payload":"Away","payloadType":"str","x":130,"y":180,"wires":[["d84719f5.72d78"]]}]